
.active {
    
    background-color: $mainRed;
    color: #fff;
    font-size: 30px;
    padding: 3px;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position: relative;
    top: -6px;
    
    @mixin atSmall {
        top: 4px;
        width: 30px;
        font-size: 34px;
    }
/*    display: none;*/
    
    &__notification-number {
/*        display: none;*/
        overflow: hidden;
        padding: 3px;
        position: absolute;
        background: #fff;
        border-radius: 15px;
        top: -10px;
        left: 8px;
        border: 2px solid rgb(226, 72, 49);
        font-size: 12px;
        text-align: center;
        color: #666;
    }
    
      &__notification-number--contents {
/*        display: none;*/
        overflow: hidden;
        padding: 3px;
        position: absolute;
        background: $mainRed;
        border-radius: 16px;
        top: -11px;
        right: -10px;
/*        border: 2px solid rgb(226, 72, 49);*/
        font-size: 11px;
        text-align: center;
        color: #fff;
    }
    
    &:hover {
      background-color: rgba($mainRed, .8);
     }
}
